

<%= form_with(model: current_user, url: user_blood_update_donation_path(current_user)) do |f| %> 
    
    <div>
        <%= f.label :blood_group, "Blood Group Type" %> 
        <%= f.select :blood_group, ["B+", "B-", "A+", "A-", "AB+", "AB-", "O+", "O-"] %> <br> <br>
    </div>

    

    <div>
        <%= f.label :unit, "Enter the Units for Donation" %>
        <%= f.number_field :unit, in: 1..20, step: 1 %> <br>
    </div>

    <div>
        <br />
        <%= f.submit "Donate" %>
        <br />
    </div>

<% end %>