<h1> On index page </h1>

<% for i in @all_groups_details %>
    <p>
        <%= i.blood_group %> &nbsp; <%= i.unit %>
    </p>
<% end %>

<%= link_to "Request", user_blood_edit_request_path(current_user) %>
<%= link_to "Donate", user_blood_edit_donation_path(current_user) %>

<%= link_to "All Donations", user_path(current_user) %>

<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>